# Collections
CONFIG_PACKAGE_luci=y

# Modules
CONFIG_PACKAGE_luci-base=y
CONFIG_LUCI_LANG_zh-cn=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-mod-admin-full=y

# Applications
CONFIG_PACKAGE_luci-app-accesscontrol=y

CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-argone-config=y

CONFIG_PACKAGE_luci-app-arpbind=y

CONFIG_PACKAGE_luci-app-autoreboot=y



CONFIG_PACKAGE_luci-app-ddns-go=y

CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-firewall=y

CONFIG_PACKAGE_luci-app-nat6-helper=y

CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_iptables-mod-extra=y

CONFIG_PACKAGE_luci-app-ramfree=y

CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_BBR_CCA=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_PDNSD=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-app-pbr=y

# Themes
CONFIG_PACKAGE_luci-theme-argone=y



# Protocols

CONFIG_PACKAGE_luci-proto-ipv6=y

CONFIG_PACKAGE_luci-proto-ppp=y


# Libraries
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
# CONFIG_PACKAGE_luci-lib-luaneightbl is not set
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-lib-nixio_openssl=y

